@import colors
@import prefixes
@import 'components/triangle'

body
  margin 0px

.ig
  @import basics
  @import Histogram
  @import Ojetiny
.ig
  overflow hidden
  font-family 'Roboto', sans-serif


