@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  overflow hidden
  font-family 'Roboto', sans-serif
  ul
    list-style-type none
    padding 0px
    margin 10px 0px 0px 0px
    li
      float left
      width 100%
      position relative
      .text
        float left
        width 100%
        height 67px
        .name
          line-height 60px
          font-size 30px
          font-weight 700
        .count
        .age
          position absolute
          &.new
            top 4px
          &.old
            top 35px
        .count
          left 250px
        .age
          right 0px


      .canvas-container
        float left
        position relative
        width 1000px
        background lighten(#003366, 99%)
        box-sizing content-box
        canvas
          float right
        a
        .year-label
          box-sizing border-box
          position absolute
          top 0px
          left 0px
          line-height 1.25em
          color #003366
          opacity 0.1
          margin-left 10px
          font-weight 900
        &.new
          padding-top 10px
          padding-bottom 10px
        &.old
          padding-top 10px
          padding-bottom 10px
          background lighten(#acb5be, 99%)
          .year-label
            color #acb5be
